.navigation{
    min-height: 80px;
}
#share_location{
	float: left;
	padding: 6px;
	margin-top: 8px;
	margin-right: 20%;
}
#share_location button[type=button]{ 
	background-color: #fff;
	font-size:12px; 
	border:0;
	cursor:pointer;
}
#searchItem input[type=text] {
  float:left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: 1;
  font-size: 12px;
  width:40%;
  height:20px;
  border-radius: 20px;
  margin-top: 20px;
}
.advertises_container{
    min-height: 800px;
    background-color: aqua;
}
.advertise-card{
    width: 550px;
    height: 500px;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
}
.first-card{
    left: 38%;
    margin-top: 80px;
}
.second-card{
    left: 26%;
    margin-top: 180px;
}
.third-card{
    left: 50%;
    margin-top: 180px;
}
.special{
    height: 400px;
    margin-top: 100px;
    width: 100%;
    background-color: aquamarine;
}
